@font-face {
  font-family: "skyeng";
  src: url(fonts/skyeng-regular.woff.woff) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "skyeng";
  src: url(fonts/skyeng-bolt.woff2) format("truetype");
  font-weight: bolt;
  font-style: normal;
}
body {
  font-family: "skyeng", sans-serif;
}

strong {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

.center {
  padding-right: calc(50% - 580px);
  padding-left: calc(50% - 580px);
}

a {
  text-decoration: none;
}

.top {
  min-height: 1032px;
  background: #AD61FF;
}

.header {
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 162px;
}
.header-logo {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: flex-end;
}
.header-logo__img {
  height: 15px;
}
.header-logo__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}
.header-menu {
  display: flex;
  gap: 20px;
}
.header-menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  position: relative;
}
.header-menu__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.header-menu__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.description {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.description__text {
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}
.description__img {
  width: 385px;
  height: 123px;
  left: 179px;
  top: -31px;
  position: absolute;
}
.description__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 260px;
  line-height: 156px;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}

.description-box {
  padding-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.desctiption-analysis {
  width: 848px;
  padding-top: 27px;
}
.desctiption-analysis__text {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: 0px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}
.desctiption-analysis__text_highlighted {
  background: #D97DFF;
}

.apply {
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.apply__button {
  background: #FCDE00;
  border-radius: 10px;
  width: 324px;
  height: 76px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  border: none;
  transition: all 0.5s;
}
.apply__button:hover {
  background: #000000;
  color: #FCDE00;
}
.apply__text {
  min-height: 76px;
  display: flex;
  flex-direction: column;
}
.apply__text_small {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #E8BEFC;
}
.apply__text_normal {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}

.teacher {
  margin-top: 56px;
}
.teacher__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 39px;
}
.teacher-group {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
.teacher-box {
  width: 560px;
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  flex-wrap: wrap;
  grid-column: span 6;
}
.teacher-skills {
  width: 368px;
}
.teacher-profession {
  padding-bottom: 24px;
}
.teacher-profession__name {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 105%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.teacher-profession__post {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  opacity: 0.3;
  padding-bottom: 16px;
}
.teacher-profession__job {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.teacher-profession__job_color {
  color: #FF6D00;
  position: relative;
}
.teacher-profession__job_color::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color: #FF6D00;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.teacher-profession__job_color:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.teacher-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -moz-column-gap: 12px;
       column-gap: 12px;
  row-gap: 8px;
}
.teacher-more__button {
  margin-top: 48px;
  margin-bottom: 64px;
  height: 92px;
  min-width: 600px;
  background: white;
  border: 1px solid #FF6D00;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.teacher-more__icon {
  position: absolute;
  top: 10px;
  transition: transform 0.3s;
}
.teacher-more__icon:hover {
  transform: scale(1.1);
}
.teacher-more__icon_first {
  left: 10px;
  z-index: 4;
}
.teacher-more__icon_second {
  left: 62px;
  z-index: 3;
}
.teacher-more__icon_second:hover {
  z-index: 5;
}
.teacher-more__icon_third {
  left: 114px;
  z-index: 2;
}
.teacher-more__icon_third:hover {
  z-index: 4;
}
.teacher-more__icon_fourth {
  left: 166px;
  z-index: 1;
}
.teacher-more__icon_fourth:hover {
  z-index: 3;
}
.teacher-more__text {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FF6D00;
  text-align: end;
  position: relative;
}
.teacher-more__text::before {
  content: "";
  position: absolute;
  right: 5px;
  bottom: -3px;
  background-color: #FF6D00;
  width: 310px;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.teacher-more__text:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.research {
  min-height: 1148px;
  background: #000000;
}
.research__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  padding-top: 56px;
  padding-bottom: 24px;
}
.research__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  width: 960px;
}
.research__subtitle_color {
  color: #D97DFF;
}
.research__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}
.research-skills {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-top: 40px;
}
.research-inprogramm {
  display: flex;
  justify-content: space-between;
  width: 496px;
}

.research-tab {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 40px;
  padding-top: 16px;
}
.research-tab__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
.research-tab__combine {
  display: flex;
  justify-content: space-between;
  width: 496px;
}
.research-tab__text {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  width: 960px;
}
.research-tab__text_color {
  color: #D97DFF;
  width: 38px;
}
.research-tab__checkbox {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
}
.research-tab__img {
  width: 23px;
  height: 23px;
}
.research-tab__numbers {
  background: #1A1A1A;
  border-radius: 5px;
  height: 23px;
  width: 624px;
  display: flex;
  gap: 36px 8px;
}
.research-tab__button {
  background: #4D4D4D;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-align: right;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}
.research-tab__button_size1 {
  width: 524px;
}
.research-tab__button_size2 {
  width: 193px;
}
.research-tab__button_size3 {
  width: 231px;
}
.research-tab__button_size4 {
  width: 250px;
}
.research-tab__button_size5 {
  width: 206px;
}
.research-tab__button_size6 {
  width: 93px;
}
.research-tab__button_size7 {
  width: 56px;
}
.research-tab__button_size8 {
  width: 18px;
}
.research-tab__button_text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}

.research-graduate {
  margin-top: 48px;
  margin-bottom: 64px;
  border: 1px solid #FF6D00;
  border-radius: 10px;
  width: 627px;
  height: 76px;
  background: #000000;
  transition: all 0.5s;
}
.research-graduate__link {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FF6D00;
  transition: all 0.5s;
}
.research-graduate__link:hover {
  color: #000000;
}
.research-graduate:hover {
  background: #FF6D00;
}/*# sourceMappingURL=style.css.map */